@using Microsoft.AspNet.Identity

<header id="header">
    <h1>@Html.ActionLink("CraftX Home", "Index", "Home")</h1>
    <nav id="nav">
        @if (User.Identity.IsAuthenticated)
        {
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink((string)ViewBag.cellarName, "MyCellar", "Cellars")</li>
            <li>@Html.ActionLink("All Cellars", "Index", "Cellars")</li>
            <li>@Html.ActionLink("Beers List", "Index", "Beers")</li>
            <li>@Html.ActionLink("Trades", "Index", "Trades")</li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                @Html.AntiForgeryToken()
                }
            </li>

        </ul>
        }
        else
        {
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
           
            </ul>
        }

</header>
 </nav>