@using Microsoft.AspNet.Identity

<header id="header">
    <h1>@Html.ActionLink("CraftX Home", "Index", "Home")</h1>
    <nav id="nav">
        @if (User.Identity.IsAuthenticated)
        {
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("My Cellar", "MyCellar", "Cellars")</li>
            <li>@Html.ActionLink("Beers", "Index", "Beers")</li>
            <li>@Html.ActionLink("Cellar", "Index", "Cellars")</li>
            <li>@Html.ActionLink("Log Out", "LogOff", "Account")</li>

        </ul>
        }
        else
        {
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
           
            </ul>
        }

</header>
 </nav>